body {
  font-size: 150%;
  color: darkgoldenrod;

  /*Pattern was taken from https://www.magicpattern.design/tools/css-backgrounds*/
  
  background-color: #e5e5f7;
  opacity: 0.8;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(30deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(150deg, #ffffff 12%, transparent 12.5%, transparent 87%, #ffffff 87.5%, #ffffff), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77), linear-gradient(60deg, #ffffff77 25%, transparent 25.5%, transparent 75%, #ffffff77 75%, #ffffff77);
  background-size: 20px 35px;
  background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}

.header {
  padding: 5px;
  text-align: center;
  background: white;
  color: darkgoldenrod;
  font-size: 30px;
}

table, th, td {
  border: 1px solid;
  text-align: center;
}
td{
  padding: 20px;
}