<!DOCTYPE html>
<html>
  <head>
    <title>Financial Overview</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">
    <meta charset='utf-8' />
  </head>
  <body>
  <center>
      
    <div class="header">  
    <h1>MyFinance</h1>
    {% if secret %}
    <h1>&#x1F911; {{ secret }} &#x1F911;</h1>
    {% endif %}
    </div>
    
    
    <form method = 'POST'>
      <br><label for="description">Description:</label><br>
      <input type="text" id="description" name="description"><br><br>
      <label for="spent">Amount Spent:</label><br>
      <input type="number" id="spent" name="spent"><br><br>
      <label for="added">Amount Gained:</label><br>
      <input type="number" id="added" name="added"><br>
      <input type="radio" id="yes" name="reset" value="yes">
      <label for="yes">Reset?</label>
      <button type="submit">Submit</button><br><br>
    </form>

    <table>
      <thead>
        <tr>
          <th> Description </th>
          <th> Spent </th>
          <th> Added </th>
          <th> Nett </th>
        </tr>
      </thead>
      <tbody>
        {% for thing in data %}
        <tr>
          <td>{{ thing[0] }}</td>
          <td>{{ '$' + thing[1]|string }}</td>
          <td>{{ '$' + thing[2]|string }}</td>
          <td>{{ '$' + (thing[2] - thing[1])|string }}</td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td>Total:</td>
          <td>{{ '$' + total_spent|string }}</td>
          <td>{{ '$' + total_added|string }}</td>
          <td>{{ '$' + total|string }}</td>
        </tr>
      </tfoot>
    </table>
      
  </center>
  </body>
</html>
